@media (max-width: 767.98px) {
    .aside {
        border-top: 1px solid #dee2e6;
        position: fixed;
        top: 80vh;
        width: 100%;
        background: white;
    }
    .side-image {
        width: 150px!important;
    }
    .side-text {
        height: 150px!important;
    }
}